:root {
  --color-primary: #5552eb;
  --color-secondary: #35bfc9;
  --color-tertiary: #aeadc9;
  --color-primary-darker: #8cb4ce;
  --color-secondary-darker: #4e3a5a;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #5552eb, #253772);
  --gradient-secondary: linear-gradient(to top left, #4e3a5a, #570957);
}
@media only and {
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: var(--gradient-primary);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 5rem 0;
  width: 100%;
  height: 6rem;
  background-color: #333;
  /* position: fixed; */
}
.header-tabs {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  width: 100%;
  padding: 0 8rem;
  z-index: 100;
}
.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}

.nav__logo {
  height: 4.5rem;
  transition: all 0.3s;
  color: #f2f2f2;
}
.welcome__user {
  color: #f2f2f2;
  font-size: 3rem;
  margin: 0 24rem 0 0;
  /* width: 100%; */
}
.nav__link {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
  margin: 0px;
  padding: 0;
}

.nav__items {
  height: 100%;
  margin-left: 4rem;
  color: #f2f2f2;
}
.dropbtn {
  background-color: inherit;
  color: white;
  font-family: inherit;
  /* padding: 16px; */
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: inherit;
}
.nav__items a {
  text-decoration: none;
}
.nav__items a.active {
  background-color: #d4feff;
  color: white;
}
.nav__items:hover,
.welcome__user:hover {
  background-color: #f2f2f2;
  color: rgb(128, 212, 245);
}

.nav__items:link,
.nav__link:visited {
  font-size: 1.7rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.nav_bottom {
  height: 2rem;
  width: 20%;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid #f00;
}
